/files/RHELOS-8.repo
/files/licenses/ST Core Temp.txt
/files/licenses/ST2 Features Temp [PostgreSQL].txt
.idea
/inventory.ini
/outdated/testing.yml
/testing/
/test_vars.yml
/test*.yml
/outdated/core/taeh
/outdated/edge/taeh
/testing2.yml
/inventory.yaml
/st_configuration-copy.yml
/.env
/outdated/
/files/licenses/ST*
/files/licenses/ST2 Features Temp [PostgreSQL].txt
/inventory*
