/files/RHELOS-8.repo
/files/licenses/ST Core Temp.txt
/files/licenses/ST2 Features Temp [PostgreSQL].txt
.idea
/inventory.ini
/env/
/files/licenses/ST2*
/files/log/ansible-deployment.log
/files/download_links.yml
/inventory-1100.ini
