[defaults]
nocows = True
# cow_selection = random
roles_path = ./roles
inventory = inventory.ini
become = true
stdout_callback = yaml
host_key_checking = False
callbacks_enabled = timer, profile_tasks, profile_roles
deprecation_warnings = False
no_log=False
#log_path=./files/log/ansible-deployment.log
display_args_to_stdout=true
allow_world_readable_tmpfiles: true
interpreter_python=auto_silent
[ssh_connection]
retries=5
[persistent_connection]
command_timeout = 60