{
  "name": "ca",
  "subject": "CN=ST_CA",
  "type": "x509",
  "usage": "trusted",
  "signAlgorithm": "SHA256withRSA",
  "keySize": 2048,
  "keyAlgorithm": "RSA",
  "validityPeriod": 100000,
  "overwrite": true,
  "caPassword": "password"
}