#
# @(#) $Id: servers,v 1.2 2004-08-20 02:17:25 eijih Exp $
#
# Do not delete the SecureTransport VERSION line below.
# ~VERSION~ 1
#
# We can't use ':' to separate the fields in this file because of the
# HTTP scheme, which by necessity contains a ':'. Use tabs instead.
#
# Server Name (text label)      Server URL
#
# host.somedomain.com   https://host.somedomain.com:444
{{ hostvars['edge_primary']['ansible_fqdn'] }}  https://{{ hostvars['edge_primary']['ansible_fqdn'] }}:8444
{{ hostvars['edge_secondary']['ansible_fqdn'] }}  https://{{ hostvars['edge_secondary']['ansible_fqdn'] }}:8444